* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
  }
  
  main {
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    text-align: center;
  }
  
  .star {
    font-size: 1rem;
    color: gold;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 100%);
  }
  
  p {
    font-size: 15px;
    margin-bottom: 2rem;
    color: hsl(217, 12%, 63%);
    line-height: 1.6;
  }
  
  .dad-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
  }
  
  footer .attribution {
    font-size: 0.875rem;
    color: #666;
  }
  
  footer a {
    color: #007acc;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .numbers {
    display: flex;
    justify-content: center;
    gap: 1rem; 
  }
  
  .numbers span {
    background-color: hsl(213, 15%, 15%);
    color: hsl(217, 12%, 63%); 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; 
    cursor: pointer; 
  }
  
  .numbers span:hover {
    background-color: hsl(25, 97%, 53%);
    color: white; 
  }

  .button{
    background-color: hsl(25, 97%, 53%);
    color: black;
    border-radius: 200px 200px;
    height: 50px;
    width: 250px;
  }
  
  .button {
    background-color: hsl(25, 97%, 53%);
    color: black;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;
    transition: background-color 0.3s;
  }
  
  .numbers span.active {
    background-color: hsl(25, 97%, 53%);
    color: white;
  }
  
.rating-number {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.rating-number.selected {
  background-color: white;
  color: black; 
}
